[submodule "static/games/javascript-breakout"]
	path = static/games/javascript-breakout
	url = git@github.com:BME3S02/game_platform_breakout.git
[submodule "static/games/javascript-pong"]
	path = static/games/javascript-pong
	url = git@github.com:BME3S02/game_platform_pong.git
[submodule "static/games/javascript-racer"]
	path = static/games/javascript-racer
	url = git@github.com:BME3S02/game_platform_racer.git
	branch = v1
[submodule "static/games/javascript-racer-2"]
	path = static/games/javascript-racer-2
	url = git@github.com:bme3s02/game_platform_racer.git
	branch = v2
[submodule "static/games/javascript-racer-3"]
	path = static/games/javascript-racer-3
	url = git@github.com:bme3s02/game_platform_racer.git
	branch = v3
[submodule "static/games/javascript-bubble"]
	path = static/games/javascript-bubble
	url = git@github.com:BME3S02/game_platform_bubble.git
